strong {
  color: var(--yellow-fg);
  font-weight: normal;
}

div.statement-container.disclaimer strong {
  color: inherit;
  font-weight: inherit;
}

em {
  margin-inline: 0.25em;
  color: var(--accent-color);
}

.success {
  color: var(--green-fg);
}

.danger {
  color: var(--red-fg);
}

.warning {
  color: var(--yellow-fg);
}

.primary {
  color: var(--accent-color);
}

.hide {
  color: var(--fg-muted-3);
}
