:root {
  --font-system-ui: Noto Sans TC, Noto Sans JP, Noto Sans SC, Noto Sans,
    Noto Color Emoji, Microsoft JhengHei, Heiti TC, system-ui, sans-serif;
  --font-antique: Iansui, Superclarendon, "Bookman Old Style", "URW Bookman",
    "URW Bookman L", "Georgia Pro", Georgia, serif;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=w8gbH2UoTuUp5bOaiDmVOdSWRVQS4VCigLHt7a4VxzGe&skey=2e8b012f7c13371c&v=v7)
    format("woff2");
  font-family: "Iansui";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: normal;
  font-family: var(--font-antique), var(--font-system-ui);
}
