// https://stackoverflow.com/a/49278385/8706033
html {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
