#likerContainer {
  width: 360px;
  margin: 0px auto;
  line-height: 0px;
}

iframe.likecoin {
  height: 200px;
  width: 100%;
  color-scheme: none;
  margin: 0;
  background: rgb(255 255 255 / 90%);
  box-shadow: 0 0 20px 4px white;
}

iframe.writingNFT {
  max-height: 440px;
  height: 103vw;
  width: 100%;
  margin: 0;
  color-scheme: none;
  // background: rgb(255 255 255 / 90%);
  // box-shadow: 0 0 20px 4px white;
  background-color: transparent;
}
