#preview-container > div:first-child {
  position: relative;

  .preview-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .ai-badge {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-12px, -12px);
    width: max(5%, 25px);
  }
}
