@use "sass:color";
@use "../themes/duckquill/sass/mods/modern-hr";
@import "../themes/duckquill/sass/style.scss";
@import "../themes/duckquill/sass/_variables.scss";
@import "hide-scroll-bar";
@import "likecoin";
@import "color";

@include theme-variables using ($theme) {
  @if $theme == "dark" {
    --bg-overlay: rgb(0 0 0 / 75%);
  } @else {
    --bg-overlay: rgb(255 255 255 / 87%);
  }
}

:root {
  --font-system-ui: Noto Sans TC, Noto Sans JP, Noto Sans SC, Noto Sans,
    Microsoft JhengHei, Heiti TC, system-ui, sans-serif;
}

body {
  background: center / cover no-repeat fixed url("/card.webp");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: normal;
  font-family: var(--font-antique), var(--font-system-ui);
}

.container {
  box-shadow: 0px 0px 25px 40px var(--bg-overlay);
  background: var(--bg-overlay);

  // Fix content width
  width: min(var(--container-width), 90vw);

  & > h1 {
    border-width: 0px;
    background: transparent;
    color: black;
    font-family: var(--font-system-ui);
    text-align: center;
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff,
      0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
  }

  .float-right {
    float: right;
  }

  p,
  ol,
  ul,
  blockquote {
    font-size: var(--font-size-large);
  }

  blockquote {
    margin: 1em 2em;
    border: 0.25rem solid var(--accent-color);
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1em;
    color: var(--fg-color);
    text-align: center;

    & > p {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
    }
  }

  hr {
    margin: 0.5em auto;
  }

  #banner-container {
    z-index: unset;
    mask-image: linear-gradient(
      #000000,
      rgb(0 0 0 / 90%) 50%,
      rgb(0 0 0 /60%) 70%,
      rgb(0 0 0 / 0%)
    );
  }
}
