@use "sass:color";
// @use "../themes/duckquill/sass/mods/modern-hr";
@use "../themes/duckquill/sass/style.scss";
@import "hide-scroll-bar";
@import "color";
@import "badge";
@import "mastodon-fix";
@import "with-ai";
@import "prompt-injection";
@import "preview-image";
@import "chat";
@import "alerts";
@import "spoiler";

:root {
  --color-opacity: 0.2;

  --bg-overlay: rgb(255 255 255 / 87%);
  &:not([data-theme="light"]) {
    --bg-overlay: rgb(0 0 0 / 75%);
  }
}

body {
  background: center / cover no-repeat fixed url("/card.png");
  background-image: image-set(
    url("/card.avif") type("image/avif"),
    url("/card.webp") type("image/webp"),
    url("/card.png") type("image/png")
  );
}

#site-nav nav #feed {
  cursor: copy;

  a {
    pointer-events: none;
    color: var(--fg-muted-4);

    &:hover {
      box-shadow: var(--edge-highlight);
      background-color: var(--fg-muted-1);
      color: var(--fg-muted-5);
    }
  }
}

#site-nav nav #theme-switcher {
  display: none !important;
}

#sidebar {
  padding: 0rem 2rem 1rem 0.5rem;

  & > div {
    padding: 0;
  }

  // Fix the sidebar and heading margin top for mobile
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  #banner-container + #heading {
    margin-block-start: unset;
  }

  #sidebar + main {
    margin-block-start: unset;
  }
}

main {
  box-shadow: 0px 0px 25px 40px var(--bg-overlay);
  background: var(--bg-overlay);

  // Fix content width
  width: min(var(--container-width), 90vw);

  // For Blog title 琳的備忘手札
  & > h1 {
    border-width: 0px;
    background: transparent;
    color: black;
    // font-family: var(--font-system-ui);
    text-align: center;
    text-shadow:
      0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 10px #fff;
  }

  #heading > h1 {
    color: rgba(223, 223, 223, 0.82);
  }

  #heading #iscn {
    vertical-align: middle;
    margin: 0;
    box-shadow: none;
    padding: 0;
    height: 2em;
  }

  .align-right {
    display: block;
    width: 100%;
    text-align: right;
  }

  blockquote {
    margin: 2rem auto;

    &[class^="markdown-alert"] {
      color: var(--fg-color);
    }

    &:not([class^="markdown-alert"]) {
      border-top: 0.1875rem double var(--fg-muted-2);
      border-right: none;
      border-bottom: 0.1875rem double var(--fg-muted-2);
      border-left: none;
      padding: 1em;
      color: var(--fg-muted-5);
      text-align: center;

      & hr {
        border-block-start-width: 0.1875rem;
        border-block-start-style: revert;
        border-block-start-color: var(--fg-muted-4);
        width: 37.5%;
        &::after {
          content: "";
        }
      }

      & a {
        color: var(--fg-muted-5);
      }

      & > p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
      }

      &::before {
        display: block;
        position: relative;
        inset-block-start: -2.25rem;

        width: 100%;
        height: 0;
        overflow: visible;
        content: "❦";
        color: var(--fg-muted-4);
        font-size: var(--font-size-x-large);
      }

      &::after {
        display: block;
        position: relative;
        inset-block-start: -0.075rem;

        width: 100%;
        height: 0;
        overflow: visible;
        content: "❦";
        color: var(--fg-muted-4);
        font-size: var(--font-size-x-large);
      }
    }
  }

  sup {
    font-size: var(--font-size-x-small);
  }
  section.footnotes {
    font-size: var(--font-size-small);
  }
  // Add a horizontal rule before footnotes section
  section.footnotes:before {
    display: block;
    margin: 2rem auto 1.75rem;
    border: none;
    border-block-start: 0.1875rem double var(--fg-muted-2);
    width: 100%;
    content: "";
  }
  ol.footnotes-list:before {
    display: block;
    position: relative;
    margin-left: -0.75rem;
    inset-block-start: -3rem;
    width: 100%;
    height: 0;
    overflow: visible;
    content: "❦";
    color: var(--fg-muted-4);
    font-size: var(--font-size-x-large);
    text-align: center;
  }

  aside {
    --shimmer: rgb(
      from var(--accent-color) r g b / calc(var(--color-opacity) * 2)
    );
    background-image: linear-gradient(
      to right,
      var(--fg-muted-1) 50%,
      var(--shimmer) 75%,
      var(--fg-muted-1) 100%
    );
    background-size: 200%;
    background-color: unset;
  }

  #banner-container {
    z-index: unset;
    mask-image: linear-gradient(
      #000000,
      rgba(0, 0, 0, 0.9) 93%,
      rgba(0, 0, 0, 0.6) 97%,
      #00000000
    );
  }

  #article-list article h3 {
    color: color-mix(in srgb, var(--accent-color) 50%, white 50%);
    font-family: var(--font-antique), var(--font-system-ui);
  }

  code:not(pre code) {
    color: #66d9ff;
  }

  iframe {
    background: none transparent;
    width: min(calc(var(--container-width) / 2), 100%);
    color-scheme: auto;
  }

  a > img:not([src*="#full"]) {
    max-height: 80vh;
  }

  #likerContainer {
    margin: 0 auto;
    width: fit-content;

    iframe {
      height: 103vw;
      max-height: 400px;
    }
  }
}

footer {
  #counter {
    vertical-align: middle;
    margin: 0;
  }

  a {
    color: unset;
  }
}
