.with-ai-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;

  .ai-badge {
    width: max(5vw, 50px);
    height: auto;
    position: absolute;
    bottom: calc(5vw / 4);
    right: calc(5vw / 4);
  }

  .tooltip {
    position: fixed;
    width: fit-content;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    z-index: 1;
    bottom: -13em;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s;

    p {
      margin: 0;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 5vw;
      z-index: -1;
    }

    &::before {
      left: 98%;
      background: linear-gradient(to left, transparent, black 50%);
    }

    &::after {
      right: 98%;
      background: linear-gradient(to right, transparent, black 50%);
    }
  }

  &:hover .tooltip {
    bottom: 10px;
    transition: bottom 0.3s;
  }
}
