<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:title" content="{% include 'partials/title.html' %}" />
<meta
      property="og:url"
      content="{{ current_url | default(value='/') | safe }}" />
<meta
      property="og:description"
      content="{% include 'partials/description.html' %}" />
<meta property="og:image" content="{% include 'partials/card.html' %}" />

<meta content="@jim60105" name="twitter:site" />
<meta content="@jim60105" name="twitter:creator" />
<meta content="{% include 'partials/card.html' %}" name="twitter:image" />
<link href="{{ current_url | default(value='/') | safe }}" rel="canonical" />
{%- if page -%}
<meta content="article" property="og:type" />
<meta content="summary_large_image" name="twitter:card" />
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ current_url | default(value='/') | safe }}"
    },
    "headline": "{{ config.title }}",
    "description": "{% include 'partials/description.html' %}",
    "image": {
      "@type": "ImageObject",
      "url": "{% include 'partials/card.html' %}"
    },
    "author": {
      "@type": "Person",
      "name": "陳鈞",
      "url": "https://liker.social/@jim60105"
    }
  }
</script>
{%- else -%}
<meta content="website" property="og:type" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "{{- config.title -}}",
    "url": "{{ get_url(path='/') | safe }}",
    "potentialAction": {
      "@type": "SearchAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "{{ get_url(path='/search?q={search_term_string}') | safe }}"
      },
      "query-input": "required name=search_term_string"
    }
  }
</script>
{%- endif -%}
