<figure id="preview-container">
	{%- if page.extra.previewUrl -%}
		<a href="{{ page.extra.previewUrl }}" target="_blank" rel="{{ rel_attributes }}">
		{%- endif -%}
		{%- if page.extra.banner -%}
			<img alt="{{ page.title }}" class="no-hover preview-image{% if page.extra.banner_pixels %} pixels{% endif %}" src="{% include 'partials/banner.html' %}" {% if config.markdown.lazy_async_image %} decoding="async" loading="lazy" {% endif %}/>
		{%- elif page.extra.card -%}
			<img alt="{{ page.title }}" class="no-hover preview-image" src="{% include 'partials/card.html' %}" {% if config.markdown.lazy_async_image %} decoding="async" loading="lazy" {% endif %}/>
		{%- endif -%}
		{%- if page.extra.previewWithAI -%}
			<svg class="ai-badge" viewbox="0 0 24 24">
				<image href="/ai-badge/made-with-ai-grayscale-translucent.svg" width="100%" height="100%"/>
			</svg>
		{%- endif -%}
		{%- if page.extra.previewUrl -%}
		</a>
	{%- endif -%}
	<figcaption>{{ page.extra.previewDescription | default(value="") }}</figcaption>
</figure>
