{% extends "duckquill/templates/base.html" %}

{% block head %}
	<!-- {{ now() | date(format='%F %a %R') }} -->
	<!-- Fetch {{ config.base_url | safe }} for the list of articles and optimized for LLM -->

	<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
	<meta name="apple-mobile-web-app-title" content="{% include "partials/title.html" %}"/>
	<link rel="manifest" href="/site.webmanifest"/>

	{%- if page.extra.banner -%}
		<link rel="preload" href="{%- include 'partials/banner.html' -%}" as="image"/>
	{%- endif -%}

	{% include "partials/head.html" %}

	<script src="/tracking.js"></script>
	<script>
		setTimeout(() => {
if (tracking) {
tracking("{{ config.extra.tracking.ga }}", "{{ config.extra.tracking.clarity }}", "{{ config.extra.tracking.cloudflare_rum }}");
}
}, 500);
	</script>
{% endblock head %}

{% block body %}
	{%- if config.extra.nav.links %}
		{% include "partials/nav.html" %}
	{%- endif %}
	{%- if config.extra.toc_sidebar or page.extra.toc_sidebar or section.extra.toc_sidebar -%}
		<div id="sidebar">
			<div>
				{%- include "partials/toc.html" -%}
			</div>
		</div>
	{%- endif -%}
	<main id="main-content">
		{% block custom %}{% endblock custom %}
		{%- if page.extra.go_to_top or section.extra.go_to_top -%}
			<div id="buttons-container">
				<a id="go-to-top" href="#top" title="{{ macros_translate::translate(key='go_to_top', default='Go to Top', language_strings=language_strings) }}">
					<i class="icon"></i>
				</a>
			</div>
		{%- endif -%}
		{% block content %}{% endblock content %}
	</main>
	{% include "partials/footer.html" %}
	{% include "partials/extra_features.html" %}
	{% include "partials/strings.html" %}
	<script src="/load-mermaid.js"></script>
{% endblock body %}
